---
import { Image } from 'astro:assets';
import team from "../assets/image/team/Equipo.jpg";
---
<!-- ========== SECCIÓN QUIÉNES SOMOS ========== -->
<section id="quienes-somos" class="py-16 lg:py-24">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div>
            <h2 class="text-3xl font-bold tracking-tight text-center" style="color: #0A2A4E;">¿Quiénes Somos?</h2>
            <p class="mt-4 max-w-2xl mx-auto text-lg text-gray-600 text-justify">
                El Centro Integral de Atención Terapéutico Josué (CIATEJ) es un espacio terapéutico y educativo especializado en la atención de niños y jóvenes con Trastorno del Espectro Autista (TEA), Trastorno por Déficit de Atención e Hiperactividad (TDAH), y dificultades de comunicación y aprendizaje. Contamos con un equipo interdisciplinario que trabaja de manera coordinada para brindar evaluaciones, terapias de lenguaje, intervenciones conductuales, orientación familiar y acompañamiento psicopedagógico.
            </p>
        </div>
        <div class="mt-12 grid md:grid-cols-2 gap-12 items-center">
            <div class="space-y-6">
                <h3 class="text-2xl font-semibold" style="color: #005960;">Misión</h3>
                <p class="text-justify">Brindar atención terapéutica integral, personalizada y de excelencia a niños y adolescentes con condiciones del neurodesarrollo, dificultades de lenguaje y aprendizaje. Trabajamos de la mano con sus familias en un entorno de profundo respeto y empatía, promoviendo el bienestar, la autonomía y la verdadera inclusión de cada paciente en su entorno.</p>
                <h3 class="text-2xl font-semibold" style="color: #005960;">Visión</h3>
                <p class="text-justify">Ser el centro terapéutico infantil de mayor referencia e impacto en Olanchito y la región, reconocidos por nuestra calidad humana, ética y profesionalismo. Aspiramos a transformar vidas, empoderar a las familias y contribuir a la construcción de una sociedad más consciente, empática y accesible que celebre la neurodiversidad.</p>
                
            </div>
            <div>
                <Image src={team} alt="Equipo de profesionales del Centro Integral de Atención Terapéutico Josué (CIATEJ) en Olanchito" class="rounded-lg shadow-xl" loading="lazy">
            </div>
        </div>
    </div>
</section>
